In [51]:
from selenium.webdriver.chrome.options import Options
from datetime import date, timedelta, datetime
from scipy.stats import poisson
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os, sklearn.preprocessing

df = pd.read_excel('C:\\Users\\GentB\\OneDrive\\Documents\\Python\\2020\\FootballPredictions.py\\database.xlsx',
                        sheet_name='Database')

In [49]:
def filtering():
    home, away = df['Home Score'], df['Away Score']
    winner = []
    o05 = []
    o15 = []
    o25 = []
    o35 = []
    o45 = []
    btts = []
    date = pd.to_datetime(df['Date'])
    date = pd.Series(date).dt.dayofyear
    date = pd.Series(sklearn.preprocessing.normalize([date.to_numpy()], norm='max',
                                                     axis=1).flatten(order='C'))
    havg = pd.Series(sklearn.preprocessing.normalize([df['Home Average']], norm='max',
                                                         axis=1).flatten(order='C'))
    aavg = pd.Series(sklearn.preprocessing.normalize([df['Away Average']], norm='max',
                                                         axis=1).flatten(order='C'))
    hcon = pd.Series(sklearn.preprocessing.normalize([df['AVG Conceded Home']], norm='max',
                                                               axis=1).flatten(order='C'))
    acon = pd.Series(sklearn.preprocessing.normalize([df['AVG Conceded Away']], norm='max',
                                                               axis=1).flatten(order='C'))

    for x, y in zip(home, away):
        if x + y == 0:
            o05.append(-1)
            o15.append(-1)
            o25.append(-1)
            o35.append(-1)
            o45.append(-1)
        elif x + y == 1:
            o05.append(1)
            o15.append(-1)
            o25.append(-1)
            o35.append(-1)
            o45.append(-1)
        elif x + y == 3:
            o05.append(1)
            o15.append(1)
            o25.append(1)
            o35.append(-1)
            o45.append(-1)
        elif x + y == 4:
            o05.append(1)
            o15.append(1)
            o25.append(1)
            o35.append(1)
            o45.append(-1)
        else:
            o05.append(1)
            o15.append(1)
            o25.append(1)
            o35.append(1)
            o45.append(1)
        if x > y:
            winner.append(1)
        else:
            winner.append(-1)
        if x != 0 and y != 0:
            btts.append(-1)
        else:
            btts.append(1)
    print(len(o05), len(o15), len(o25), len(o35), len(o45), len(btts), len(havg), len(aavg),
              len(hcon), len(acon))
    result = pd.DataFrame({
        'Date': date, 'Home Average': havg, 'Away Average': aavg, 'Home Conceeded': hcon, 'Away Conceeded': acon,
        'BTTS': btts, 'Home Score': home
    })

    return result

In [50]:
filtering()

25392 25392 25392 25392 25392 25392 25392 25392 25392 25392

,Date,Home Average,Away Average,Home Conceeded,Away Conceeded,BTTS,Home Score
0,0.583562,0.071429,0.086957,0.111111,0.129032,1,0
1,0.586301,0.142857,0.086957,0.111111,0.129032,-1,2
2,0.586301,0.000000,0.173913,0.222222,0.000000,1,0
3,0.586301,0.000000,0.260870,0.333333,0.000000,1,0
4,0.589041,0.071429,0.000000,0.000000,0.064516,1,1
...,...,...,...,...,...,...,...
25387,0.186301,0.224490,0.144928,0.095238,0.129032,-1,2
25388,0.186301,0.147059,0.101450,0.111111,0.161290,-1,2
25389,0.186301,0.142857,0.086957,0.097222,0.082112,-1,2
25390,0.186301,0.114286,0.130435,0.144444,0.100359,-1,2
25391,0.186301,0.193878,0.120402,0.068783,0.079405,1,3

In [46]:
writer = pd.ExcelWriter('C:\\Users\\GentB\\OneDrive\\Documents\\Python\\2020\\FootballPredictions.py\\data.xlsx',
                                engine='xlsxwriter')
df.to_excel(writer, sheet_name='Dataset')
writer.save()

AttributeError: 'DataFrame' object has no attribute 'Index'

In [57]:
df['Home Average'].tolist().index(np.NaN)

ValueError: nan is not in list